*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color:darkslateblue ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #cadcfc;;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow:-8px -8px 15px rgba(0, 0, 0, 1.8),5px 5px 15px rgb(0, 0, 2);
    background: transparent;
    font-size:20px;
    color:black;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.operator{
    color: rgb(255, 0, 0);
}

.heading{
    background-color:darkslateblue
}